NEXGEN_ENV=development
NEXGEN_FORCE_HTTPS=false
NEXGEN_DB_HOST=localhost
NEXGEN_DB_PORT=3306
NEXGEN_DB_NAME=nexgen_db
NEXGEN_DB_USER=root
NEXGEN_DB_PASSWORD=
NEXGEN_PRIVATE_UPLOAD_DIR=
NEXGEN_PUBLIC_UPLOAD_DIR=
NEXGEN_RESEND_API_KEY=
NEXGEN_RESEND_FROM_ADDRESS=
NEXGEN_RESEND_FROM_NAME=NexGen
